/* You can add global styles to this file, and also import other style files */
@use "@covalent/tokens" as covalent-tokens;
@use "@covalent/components" as covalent-theme;
@use "@angular/material" as mat;
@use "@covalent/core/theming/all-theme" as cov;
@use "@covalent/markdown/markdown-theme" as markdown;
@use "@covalent/highlight/highlight-theme" as highlight;
@use "@covalent/flavored-markdown/flavored-markdown-theme" as markdown-flavored;

@include mat.core();

$myapp-theme-primary: mat.define-palette(mat.$indigo-palette, A400, A100, A700);
$myapp-theme-accent: mat.define-palette(mat.$indigo-palette);
$myapp-theme-warn: mat.define-palette(mat.$red-palette);

$myapp-theme: mat.define-light-theme(
  (
    color: (
      primary: $myapp-theme-primary,
      accent: $myapp-theme-accent,
      warn: $myapp-theme-warn,
    ),
  )
);

@include mat.all-component-themes($myapp-theme);
@include cov.covalent-theme($myapp-theme);
@include markdown.covalent-markdown-theme($myapp-theme);
@include highlight.covalent-highlight-theme($myapp-theme);
// @include markdown-flavored.covalent-flavored-markdown-theme($myapp-theme);

// Extracting theme tokens
$theme-tokens: map-get(covalent-tokens.$tokens, "theme");
$light-tokens: map-get($theme-tokens, "light");
$dark-tokens: map-get($theme-tokens, "dark");

// Extracting color tokens for light and dark themes
$light-colors: map-get($light-tokens, "colors");
$dark-colors: map-get($dark-tokens, "colors");

// Merging with deprecated tokens (if any)
$light-colors: map-merge(
  $light-colors,
  map-get(covalent-tokens.$tokens, "light")
);
$dark-colors: map-merge($dark-colors, map-get(covalent-tokens.$tokens, "dark"));

:root {
  // Apply the light theme by default
  @include covalent-theme.components-theme(
    $light-colors,
    map-get(covalent-tokens.$tokens, typography)
  );
}

// Dark theme class
.theme-dark {
  // Apply the dark theme when .theme-dark class is added to an element
  @include covalent-theme.components-theme(
    $dark-colors,
    map-get(covalent-tokens.$tokens, typography)
  );
}
